{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block body %}
<!--<html lang="en">-->
<!--<head>-->

    <!--<title>TheTable Restaurant</title>-->
    <!--<meta charset="utf-8">-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <!--{% load staticfiles %}-->

    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">-->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <!--<link href='https://fonts.googleapis.com/css?family=Allura' rel='stylesheet'>-->
    <!--<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'>-->
    <!--<link href='https://fonts.googleapis.com/css?family=Actor' rel='stylesheet'>-->
    <!--<link href='https://fonts.googleapis.com/css?family=Abril Fatface' rel='stylesheet'>-->
    <!--<link href='https://fonts.googleapis.com/css?family=Angkor' rel='stylesheet'>-->
    <!--<link href='https://fonts.googleapis.com/css?family=Allura' rel='stylesheet'>-->



<!--</head>-->

    <!--<body>-->
        <!--&lt;!&ndash; navbar &ndash;&gt;-->
        <!--<div class="top-nav">-->
            <!--<nav class="navbar navbar-default  navbar-fixed-top navbar-custom navbar">-->
              <!--<div class="container">-->
                <!--<div class="navbar-header">-->
                    <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">-->
                        <!--<span class="icon-bar"></span>-->
                        <!--<span class="icon-bar"></span>-->
                        <!--<span class="icon-bar"></span>-->
                    <!--</button>-->
                  <!--<a class="navbar-brand" href="#"><img src='{% static "img/thetable.png" %}' width="80px" height="35px"></a>-->
                <!--</div>-->
                <!--<div class="collapse navbar-collapse" id="myNavbar">-->
                    <!--<ul class="nav navbar-nav">-->
                        <!--<li ><a href="#">Home</a></li>-->
                        <!--<li><a href="#aboutus">About</a></li>-->
                        <!--<li><a href="#menus">Menu</a></li>-->
                        <!--<li><a href="#order">Order</a></li>-->
                        <!--<li><a href="#reservation">Reservation</a></li>-->
                        <!--<li><a href="#gallery">Gallery</a></li>-->
                        <!--<li><a href="#">Events</a></li>-->
                        <!--<li><a href="#">Contact</a></li>-->
                    <!--</ul>-->
                    <!--<ul class=" contact-nav nav navbar-nav navbar-right">-->
                        <!--<li><a href="#"><i class="fa fa-phone"></i> 045-548-14-97</a></li>-->
                        <!--<li><a href="#"><i class="fa fa-map-marker"></i> 3685 Granville Lane</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
              <!--</div>-->
            <!--</nav>-->
        <!--</div>-->

        <!--&lt;!&ndash; background image &ndash;&gt;-->
        <!--<div id="home" class="banner-area">-->

            <!--&lt;!&ndash; Backgound Image &ndash;&gt;-->
            <!--<div class="bg-image bg-parallax overlay"></div>-->
            <!--&lt;!&ndash; /Backgound Image &ndash;&gt;-->

            <!--<div class="home-wrapper">-->

                <!--<div class="col-md-10 col-md-offset-1 text-center">-->
                    <!--<div class="home-content">-->
                          <!--<h1 class="white-text">Restaurant</h1>-->
                          <!--<h4 class="white-text lead">"Best In The City"</h4>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->

        <!--</div>-->
        <!-- about -->
        <div id="home" class="banner-area">

            <!-- Backgound Image -->
            <div class="bg-image bg-parallax overlay"></div>
            <!-- /Backgound Image -->

            <div class="home-wrapper">

                <div class="col-md-10 col-md-offset-1 text-center">
                    <div class="home-content">
                          <h1 class="white-text">Restaurant</h1>
                          <h4 class="white-text lead">"Best In The City"</h4>
                    </div>
                </div>

            </div>

        </div>

        <div class="container">

            <div class="section">
                <div class="row">
                     <a name="aboutus">
                        <div class="about">
                            <h4>  About Us</h4>
                            <h5> TheTable Restaurant</h5><br><br><br>
                        </div>
                     </a>
                        <div class="col-md-5">
                            <h4 class="built">
                                Welcome to TheTable Restaurant. Since 1988, Offering Traditional Dishes of the highest quality.
                            </h4>
                        </div>
                        <div class="col-md-7">
                            <p class="paragraph">
                                TheTable Restaurant is a place for simplicity. Good food, good beer, and good service. Simple is the name of the game, and we’re good at finding it in all the right places, even in your dining experience. We’re a small group from Denver, Colorado who make simple food possible. Come join us and see what simplicity tastes like.
                            </p>
                        </div>
                    </div>
                </div>

        </div>

        <div id="hom" class="banner-area">
            <div class=" imj overlay" style="
                background-image:url('http://www.maximall.se/wp-content/uploads/2014/02/M%C3%B6bler-WEBB.jpg');
                background-size:cover;
                height:100vh;
                width:100%;
                display:table;

                background-attachment:fixed;
                ">
            </div>
            <div class="home-wrappe">
                <div>
                    <h1 class="affordable">Affordable Pricing</h1>
                </div>

            </div>

        </div>
        <!-- menu -->
        <a name="menus">
            <div class="container">
                <div class="menu">
                   <div class="row">
                       <div class="w">
                            <ul class="filter-list">
                                <li> <a data-toggle="tab"  href="#all">All</a></li>
                                <li ><a data-toggle="tab" href="#lunch"> Lunch</a></li>
                                <li><a data-toggle="tab" href="#dinner"> Dinner</a></li>
                                <li> <a data-toggle="tab" href="#desert">Dessert</a></li>
                             </ul>
                            <div class="tab-content">
                                <div id="all" class="tab-pane fade in active">
                                    <ul class="portfolio">

                                        <li class="item desert"><img src='{% static "menu_img/desert3.jpg" %}' alt="Food" >
                                            <h2 class="white">100rs</h2>
                                        </li>

                                        <li class="item desert"><img src='{% static "menu_img/desert5.jpeg" %}'  alt="Food" >
                                            <h2 class="white">150rs</h2>
                                        </li>
                                        <li class="item lunch"><img src='{% static "menu_img/lunch1.jpeg" %}'  alt="Food" >
                                            <h2 class="white">150rs</h2>
                                        </li>
                                        <li class="item lunch"><img src='{% static "menu_img/lunch2.jpeg" %}'  alt="Food" >
                                            <h2 class="white">200rs</h2>
                                        </li>
                                        <li class="item lunch"><img src='{% static "menu_img/lunch3.jpeg" %}'  alt="Food" >
                                            <h2 class="white">250rs</h2>
                                        </li>
                                        <li class="item dinner"><img src='{% static "menu_img/dinner.jpeg" %}' alt="Food" >
                                            <h2 class="white">400rs</h2>
                                        </li>
                                        <li class="item dinnert"><img src='{% static "menu_img/dinner2.jpeg" %}'  alt="Food" >
                                            <h2 class="white">350rs</h2>
                                        </li>
                                        <li class="item dinner"><img src='{% static "menu_img/dinner3.jpeg" %}'  alt="Food" >
                                            <h2 class="white">200rs</h2>
                                        </li>

                                    </ul>
                                </div>
                                <div id="desert" class="tab-pane fade">
                                    <ul class="portfolio">
                                        <li class="item desert"><img src='{% static "menu_img/desert3.jpg" %}' alt="Food" >
                                            <h2 class="white">100rs</h2>
                                        </li>
                                        <li class="item desert"><img src='{% static "menu_img/desert5.jpeg" %}' alt="Food" >
                                            <h2 class="white">150rs</h2>
                                        </li>
                                    </ul>
                                </div>
                                <div id="lunch" class="tab-pane fade">
                                    <ul class="portfolio">
                                        <li class="item lunch"><img src='{% static "menu_img/lunch1.jpeg" %}' alt="Food" >
                                            <h2 class="white">150rs</h2>
                                        </li>
                                        <li class="item lunch"><img src='{% static "menu_img/lunch2.jpeg" %}' alt="Food" >
                                            <h2 class="white">200rs</h2>
                                        </li>
                                        <li class="item lunch"><img src='{% static "menu_img/lunch3.jpeg" %}'  alt="Food" >
                                            <h2 class="white">250rs</h2>
                                        </li>
                                    </ul>
                               </div>
                               <div id="dinner" class="tab-pane fade">
                                    <ul class="portfolio">
                                        <li class="item dinner"><img src='{% static "menu_img/dinner.jpeg" %}' alt="Food" >
                                            <h2 class="white">400rs</h2>
                                        </li>
                                        <li class="item dinnert"><img src='{% static "menu_img/dinner2.jpeg" %}'  alt="Food" >
                                            <h2 class="white">350rs</h2>
                                        </li>
                                        <li class="item dinner"><img src='{% static "menu_img/dinner3.jpeg" %}' alt="Food" >
                                            <h2 class="white">200rs</h2>

                                        </li>
                                    </ul>
                              </div>
                          </div>
                     </div>

                   <center>
                       <a href="{% url 'menu:menu' %}"><h1> More View</h1></a>
                   </center>
                  </div>
              </div>
         </div>
        </a>
    <!-- 3rd background image -->
    <div id="hom" class="banner-area">
        <div class=" imj overlay" style="
            background-image:url('http://exploreguyana.org/wp-content/uploads/2015/02/Diwali-in-Guyana.jpg');
            background-size:cover;
            height:100vh;
            width:100%;
            display:table;

            background-attachment:fixed;
            ">
        </div>
        <div class="home-wrappe">
            <div>
                <h1 class="affordable"> Events </h1>
            </div>


        </div>

    </div>
 <div class="container">
     <center>
         <div class="events">
            <img src="http://i2.wp.com/glamourmantra.com/wp-content/uploads/2017/10/Interior-shots-by-Royal-China44-New-Delhi-4.jpg?fit=990%2C667" width="400px" height="400px">
            <div class="description">
                 <h3>Diwali Celebration !</h3>
                <div class="summary">
                    Ram! The light of lights, the self-luminous inner light of the Self is ever shining steadily in the chamber of your heart. Sit quietly. Close your eyes. Fix the mind on this supreme light and enjoy the real Deepavali, by attaining illumination of the soul.
                </div>

                <a href="{% url 'event:event' %}"><h2>See More</h2></a>
            </div>
         </div>
     </center>


 </div>

{% endblock %}


