{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block body %}
<div id="home" class="banner-area">

            <!-- Backgound Image -->
            <div class="bg-image bg-parallax overlay">

            </div>
            <!-- /Backgound Image -->

            <div class="home-wrapper">

                <div class="col-md-10 col-md-offset-1 text-center">
                    <div class="home-content">
                          <h1 class="white-text"> Events </h1>

                    </div>
                </div>

            </div>

</div>
<div class="container"  >
     <!-- <div class="eventuswqdd" style="  border: 3px solid red; "> -->
          <div class="row " >
           {% for event in all_event %}
              <div class="col-md-4" style="  margin-top: 70px;  ">
                    <div class="card" >
                          <img class="card-img-top" src="{{ event.image.url }}" alt="Card image cap"  height="300px" width=100%>
                          <div class="card-body descriptions">
                            <h3 class="card-title">{{ event.title }}</h3>
                            <p class="card-text">{{ event.description }}</p>
                          </div>
                    </div>
              </div>
          {% endfor %}
        </div>
    <!-- </div> -->
</div>
{% endblock %}
